<header class="navbar">

  <div class="navbar-left">

    <button class="menu-button">
      ☰
    </button>

    <div class="title">

      <span>Service Social</span>

      <strong>
        Gestion administrative
      </strong>

    </div>

  </div>


  <div class="navbar-right">

    <button class="notification">
      🔔
      <span></span>
    </button>


    <div class="user">

      <div class="avatar">
        AD
      </div>

      <div class="user-info">

        <strong>
          Agent
        </strong>

        <small>
          Service Social
        </small>

      </div>

    </div>


<button
type="button"
class="logout-btn"
(click)="logout()"

>

<span class="logout-icon">↪</span> <span>Déconnexion</span> </button>


  </div>

</header>